<div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @nationalid_verification.id %></span>
          <h3> National ID Verification Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <td><%= @nationalid_verification.user.firstname + " " + @nationalid_verification.user.lastname %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Legal Name</th>
              <td> <%= @nationalid_verification.legal_name %></td>
            </tr>
            <tr>
              <th>National ID</th>
              <td> <%= @nationalid_verification.national_id %></td>
            </tr>
            <tr>
              <th>Document Type</th>
              <td> <%= @nationalid_verification.document_type  %></td>
            </tr>
            <tr>
            <th>Issue Date</th>
            <td> <%= @nationalid_verification.issue_date %></td>
          </tr>
          <tr>
            <th>Expire date</th>
            <td> <%= @nationalid_verification.expire_date %></td>
          </tr>
          <% if @nationalid_verification.attachment1.attached? %>
            <tr>
              <th>attachment</th>
              <td><%= image_tag @nationalid_verification.attachment1.variant(resize: "100x100")  %></td>
            </tr>
          <% end %>
          <% if @nationalid_verification.attachment2.attached? %>
            <tr>
              <th>attachment2</th>
              <td><%= image_tag @nationalid_verification.attachment2.variant(resize: "100x100")  %></td>
            </tr>  
          <% end %>

          <%# if @nationalid_verification.images.attached? %>
           <!-- <tr>
                    <th>images</th> -->
               <%# @nationalid_verification.images.each do |image| %>
               <td>
                  <%# image_tag image.variant(resize: "100x100")  %>
               </td>
               </tr>
           <%# end %>
          <%# end %>

            <tr>
              <th>Status</th>
              <td> <%= @nationalid_verification.status %></td>
            </tr>


          <% if @nationalid_verification.note != nil and @nationalid_verification.note != "" %>
            <tr>
              <th>Note </th>
              <td> <%= @nationalid_verification.note %></td>
            </tr>
          <% end %>         
          </tbody>
        </table>
      </div>
</div>

<% if current_user.roleid == 1 %>
  <div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @nationalid_verification.id %></span>
          <h3>Update Status</h3>
        </div>
        
                    <%= form_with(model: @nationalid_verification, local: true, class: 'p-a-md col-md-6') do |form| %>
                        <% if @nationalid_verification.errors.any? %>
                           <div id="error_explanation">
                               <%= pluralize(@nationalid_verification.errors.count, "error") %> prohibited this nationalid_verification from being saved:
                               <ul>
                                  <% @nationalid_verification.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                               </ul>
                           </div>
                        <% end %>

                    <div class="form-group">
                        <label>Status</label>
                        <div class="col-sm-10">
                            <label>Verified</label>
                                <label class="ui-switch m-t-xs m-r">
                                   <%= form.radio_button :status, 'Verified' %>                                 
                                  <i></i>
                                </label>
                            <label>UnVerified</label>
                                <label class="ui-switch m-t-xs m-r">
                                  <%= form.radio_button :status, 'UnVerified' %>                                 
                                  <i></i>
                            </label>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label>Note</label>
                        <%= form.text_field :note,class: 'form-control' %>
                    </div>
          
                      <button type="submit" class="btn btn-info m-t" >Submit</button>
                    <% end %>
                 
      </div>
  </div>
<% end %>
