<%= form_with(model: affilate_program, local: true) do |form| %>
  <% if affilate_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(affilate_program.errors.count, "error") %> prohibited this affilate_program from being saved:</h2>

      <ul>
      <% affilate_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :refered_by %>
    <%= form.number_field :refered_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
