

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Address Verification</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="p-a-md dker _600"></div>
        <%= form_with(model: address_verification, local: true, class: 'p-a-md col-md-6') do |form| %>
          <% if address_verification.errors.any? %>
            <div id="error_explanation">
              <%= pluralize(address_verification.errors.count, "error") %> prohibited this address_verification from being saved:
        
              <ul>
              <% address_verification.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label>Country</label>
            <%= form.select(:country_id,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.id ] }) ,{} ,:include_blank =>  'choose from list',  :class => 'form-control input-c' ) %>
          </div>
          <div class="form-group">
            <label>City</label>
            <%= form.text_field :city,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>State</label>
            <%= form.text_field :state,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Street</label>
            <%= form.text_field :street,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Apartment Number</label>
            <%= form.text_field :apartment_number,class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <label>Attachment</label>
            <div class="form-file">
              <%= form.file_field :attachment %>
              <button class="btn white">Upload attachment</button>
            </div>
          </div>
          
          <button type="submit" class="btn btn-info m-t" >Submit</button>
        <% end %>
      </div>

      


      
</div>



<!-- ############ PAGE END-->
