<div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @address_verification.id %></span>
          <h3> Address Verification Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <td><%= @address_verification.user.firstname + " " + @address_verification.user.lastname %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Country</th>
              <td> <%= @address_verification.country.Full_Name %></td>
            </tr>
            <tr>
              <th>City</th>
              <td> <%=@address_verification.city %></td>
            </tr>
            <tr>
              <th>State</th>
              <td> <%= @address_verification.state %></td>
            </tr>
            <tr>
            <th>Street</th>
            <td> <%= @address_verification.street %></td>
          </tr>
          <tr>
            <th>Apartment Number</th>
            <td> <%= @address_verification.apartment_number %></td>
          </tr>
          <% if @address_verification.attachment.attached? %>
            <tr>
              <th>attachment</th>
              <td><%= image_tag @address_verification.attachment.variant(resize: "100x100")  %></td>
            </tr>
          <% end %>
            <tr>
              <th>Status</th>
              <td> <%= @address_verification.status %></td>
            </tr>

          <% if @address_verification.note != nil and @address_verification.note != "" %>
            <tr>
              <th>Note </th>
              <td> <%= @address_verification.note %></td>
            </tr>
          <% end %>         
          </tbody>
        </table>
      </div>
</div>

<% if current_user.roleid == 1 %>
  <div class="padding">  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @address_verification.id %></span>
          <h3>Update Status</h3>
        </div>
        
                    <%= form_with(model: @address_verification, local: true, class: 'p-a-md col-md-6') do |form| %>
                        <% if @address_verification.errors.any? %>
                           <div id="error_explanation">
                               <%= pluralize(@address_verification.errors.count, "error") %> prohibited this address_verificationn from being saved:
                               <ul>
                                  <% @address_verification.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                               </ul>
                           </div>
                        <% end %>

                    <div class="form-group">
                        <label>Status</label>
                        <div class="col-sm-10">
                            <label>Verified</label>
                                <label class="ui-switch m-t-xs m-r">
                                   <%= form.radio_button :status, 'Verified' %>                                 
                                  <i></i>
                                </label>
                            <label>UnVerified</label>
                                <label class="ui-switch m-t-xs m-r">
                                  <%= form.radio_button :status, 'UnVerified' %>                                 
                                  <i></i>
                            </label>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label>Note</label>
                        <%= form.text_field :note,class: 'form-control' %>
                    </div>
          
                      <button type="submit" class="btn btn-info m-t" >Submit</button>
                    <% end %>
                 
      </div>
  </div>
<% end %>
