<% @done_by = User.where(uuid: @audit_log.user_name).first %>
<% if @done_by.nil? %>
  <% @done_by = Admin.where(uuid: @audit_log.user_name).first %>
<% end %>
            
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @audit_log.id %></span>
          <h3>User Profile</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <td><%= @audit_log.user.firstname + " " + @audit_log.user.lastname %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Done By</th>
              <td> <%= @done_by.firstname + " " + @done_by.lastname  %></td>
            </tr>
            <tr>
              <th>Trace</th>
              <td> <%= @audit_log.trace_id %></td>
            </tr>
            <tr>
              <th>Action type:</th>
              <td> <%= @audit_log.action_type %></td>
            </tr>
            <tr>
              <th>Action meta:</th>
              <td> <%= @audit_log.action_meta %></td>
            </tr>
            <tr>
              <th>IP</th>
              <td> <%= @audit_log.ip %></td>
            </tr>
            <tr>
              <th>Created At</th>
              <td> <%= @audit_log.created_at %></td>
            </tr>
                  
            
            <tr>
              <th><%= link_to 'Back', user_path(@audit_log.user_id) %></th>
              <td> </td>
            </tr>
            
                    
           
          </tbody>
        </table>
      </div>
</div>





