<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Admin</h2>
      <small>List user's audit log</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th data-toggle="true">
              Username
              </th>
              <th>
              Action Type
              </th>
          </tr>
        </thead>
        <tbody>
        <% @log.each do |log| %>
          <tr>
              <td><%= log.user.firstname + " " + log.user.lastname  %></td>
              <td><%= log.action_type %></td>
              <td><%= link_to 'Show', log %></td>
              
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->