<%= form_with(model: users_wallets_transfer, local: true) do |form| %>
  <% if users_wallets_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_wallets_transfer.errors.count, "error") %> prohibited this users_wallets_transfer from being saved:</h2>

      <ul>
      <% users_wallets_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id , {id:"userid"} %>
  </div>

  <div class="field">
    <%= form.label :user_to_id %>
    <%= form.text_field :user_to_id %>
  </div>

  <div class="field">
    <%= form.label :transfer_method %>
    <%= form.select :transfer_method,options_for_select([["الخصم من رصيدى",'FromWallet'],["الدفع عن طريق البطاقات الائتمانية",'FromVisa']]),  {},{} %>
  </div>

  <div class="field">
    <%= form.label :transfer_type %>
    <%= form.select :transfer_type,options_for_select([['خدمة','Service'],['سلعة','Product']]),  {:include_blank => 'Select Type'},{id:"transtype"} %>
  </div>

  <div class="field" id="address" style="display:none;">
    <%= form.label :address_id %>
    <select id="user_address" name="users_wallets_transfer[address_id]">
    </select>
  </div>

  <div class="field">
    <%= form.label :hold_period %>
    <%= form.number_field :hold_period %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :ratio %>
    <%= form.text_field :ratio %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function() {

      $("#userid").keyup(function() {
        var user_id = $("#userid").val();
         
        $.ajax({ type:'get',url:'/user_addresses',
        data:{user_id:user_id},
        contentType: "application/json",
        dataType: "json",
        success: function(data){
           // console.log(data.useraddresses[0][0])
           $("#user_address").html("");
           // Add options
           for (var i in data.useraddresses) {
               $("#user_address").append('<option value=' + data.useraddresses[i][1] + '>' + data.useraddresses[i][0] + '</option>');
           }
        }
        });
      });

      $("#transtype").change(function() {
        var selectedmethod = $( "#transtype option:selected" ).val();
        if (selectedmethod == "Product"){
            $('#address').show();
        }else{
            $('#address').hide();
        }
      });

    });

</script>
