<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Users Wallets Transfers</h2>
      <small>List of all Users Wallets Transfers</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New Users Wallets Transfer', new_users_wallets_transfer_path, {:class => 'btn btn-fw accent',:style => "margin-left:1000px;"}%>
      <% end %>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
        <tr>
          <th>User</th>
          <th>User to</th>
          <th>Operation_id</th>
          <th>Transfer method</th>
          <th>Transfer type</th>
          <th>Hold period</th>
          <th>Amount</th>
          <th>Ratio</th>
          <th>Approve</th>
          <th>Address</th>
          <th>Note</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
          <% @users_wallets_transfers.each do |users_wallets_transfer| %>
            <tr>
              <td><%= users_wallets_transfer.user_id %></td>
              <td><%= users_wallets_transfer.user_to_id %></td>
              <td><%= users_wallets_transfer.operation_id %></td>
              <% if users_wallets_transfer.transfer_method == "FromWallet" %>
              <td><%= "الخصم من رصيدى" %></td>
              <% else %>
              <td><%= "الدفع عن طريق البطاقات الائتمانية" %></td>
              <% end %>
              <% if users_wallets_transfer.transfer_type == 'Product' %>
              <td><%= "سلعة" %></td>
              <% else %>
              <td><%= "خدمة" %></td>
              <% end %>
              <td><%= users_wallets_transfer.hold_period %></td>
              <td><%= users_wallets_transfer.amount %></td>
              <td><%= users_wallets_transfer.ratio %></td>
              <% if users_wallets_transfer.approve == 0 %>
              <td><%= "Pending" %></td>
              <% elsif users_wallets_transfer.approve == 1 %>
              <td><%= "Done" %></td>
              <% end %>
              <% if users_wallets_transfer.address_id.to_i != 0 || users_wallets_transfer.address_id.to_i != nil || users_wallets_transfer.address_id.to_i != "" %>
              <td><%= Address.where(id: users_wallets_transfer.address_id).pluck(:address).first %></td>
              <% else %>
              <td><%= "-" %></td>
              <% end %>
              <td><%= users_wallets_transfer.note %></td>
              <td><%= link_to 'Show', users_wallets_transfer %></td>        
            </tr>
          <% end %>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>