<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>User Wallet Transfer</h3>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th>User From ID</th>
              <td> <%= @users_wallets_transfer.user_id %></td>
            </tr>
            <tr>
            <th>User To ID</th>
            <td> <%= @users_wallets_transfer.user_to_id %></td>
            </tr>
            <tr>
            <th>Operation ID</th>
            <td> <%= @users_wallets_transfer.operation_id %></td>
            </tr>
            <tr>
              <th>Transfer method</th>
              <td><%= @users_wallets_transfer.transfer_method %></td>
            </tr>
            <tr>
              <th>Transfer type</th>
              <td><%= @users_wallets_transfer.transfer_type %></td>
            </tr>
            <tr>
              <th>Hold period</th>
              <td><%= @users_wallets_transfer.hold_period %></td>
            </tr>
            <th>Amount</th>
            <td> <%= @users_wallets_transfer.amount %></td>
          </tr>
          <tr>
          <th>Ratio</th>
          <td><%= @users_wallets_transfer.ratio %></td>
          </tr>
          <tr>
          <tr>
            <th>Approve</th>
            <% if @users_wallets_transfer.approve == 0 %>
            <td><%= "Pending" %></td>
            <% elsif @users_wallets_transfer.approve == 1 %>
            <td><%= "Done" %></td>
            <% end %>
          </tr>
          <tr>
          <th>Address</th>
          <% if @users_wallets_transfer.address_id.to_i != 0 || @users_wallets_transfer.address_id.to_i != nil || @users_wallets_transfer.address_id.to_i != "" %>
          <td> <%= Address.where(id: @users_wallets_transfer.address_id).pluck(:address).first %></td>
          <% else %>
          <td><%= "-" %></td>
          <% end %>
        </tr>
        <tr>
        <th>Note</th>
        <td><%= @users_wallets_transfer.note %></td>
      </tr>    
           
          </tbody>
        </table>
      </div>
      <%= link_to 'Back', users_wallets_transfers_path %>
  </div>
