<p id="notice"><%= notice %></p>

<h1>Ticket Departments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_departments.each do |ticket_department| %>
      <tr>
        <td><%= ticket_department.name %></td>
        <td><%= ticket_department.code %></td>
        <td><%= ticket_department.description %></td>
        <td><%= link_to 'Show', ticket_department %></td>
        <td><%= link_to 'Edit', edit_ticket_department_path(ticket_department) %></td>
        <td><%= link_to 'Destroy', ticket_department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Department', new_ticket_department_path %>
