<div class="p-2 text-xs">
  <div class="pull-right text-muted py-1">
    &copy; Copyright <strong>Payers</strong> <span class="hidden-xs-down">- Built with Love v{{app.version}}</span>
    <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
  </div>
  <div class="nav">
    <a class="nav-link" href="../">About</a>
    <a class="nav-link" href="http://themeforest.net/user/flatfull/portfolio?ref=flatfull">Get it</a>
  </div>
</div>
