<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @notification.description %>
</p>

<p>
  <strong>Notification type:</strong>
  <% if @notification.notification_type == 3 %>
  <td><%= "Email & Message" %></td>
  <% elsif @notification.notification_type == 2 %>
  <td><%= "Message" %></td>
  <% elsif @notification.notification_type == 1 %>
  <td><%= "Email" %></td>
  <% end %>
</p>

<p>
  <strong>Date-Created:</strong>
  <%= @notification.created_at %>
</p>

<%= link_to 'Back', notifications_path %>
