<p id="notice"><%= notice %></p>
<h1>User Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Notification-type</th>
      <th>Title</th>
      <th>Date-Created</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_notifications.each do |notification| %>
      <tr>
        <td><%= notification.user_id %></td>
        <% if notification.notification_type == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notification.notification_type == 2 %>
        <td><%= "Message" %></td>
        <% elsif notification.notification_type == 1 %>
        <td><%= "Email" %></td>
        <% end %>
        <td><%= notification.title %></td>
        <td><%= notification.created_at %></td>
        <td><%= link_to 'Show', notification %></td>
      </tr>
    <% end %>
  </tbody>
</table>
