<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Notifications Settings</h2>
      <small>List of all notifications settings</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New Notifications Setting', new_notifications_setting_path, {:class => 'btn btn-fw accent',:style => "margin-left:800px;"}%>
      <% end %>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Money transactions</th>
          <th>Pending transactions</th>
          <th>Transactions updates</th>
          <th>Help tickets updates</th>
          <th>Tickets replies</th>
          <th>Account login</th>
          <th>Change password</th>
          <th>Verifications setting</th>
          </tr>
        </thead>
        <tbody>
        <% @notifications_settings.each do |notifications_setting| %>
          <tr>
            <td><%= notifications_setting.user_id %></td>
            <% if notifications_setting.user_id == 0 %>
            <td><%= "Defualt" %></td>
            <% else %>
            <td><%= notifications_setting.user.firstname + " " + notifications_setting.user.lastname %></td>
            <% end %>
            <% if notifications_setting.money_transactions == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.money_transactions == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.money_transactions == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.money_transactions == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.pending_transactions == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.pending_transactions == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.pending_transactions == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.pending_transactions == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.transactions_updates == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.transactions_updates == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.transactions_updates == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.transactions_updates == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.help_tickets_updates == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.help_tickets_updates == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.help_tickets_updates == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.help_tickets_updates == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.tickets_replies == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.tickets_replies == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.tickets_replies == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.tickets_replies == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.account_login == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.account_login == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.account_login == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.account_login == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.change_password == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.change_password == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.change_password == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.change_password == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <% if notifications_setting.verifications_setting == 3 %>
            <td><%= "Email & Message" %></td>
            <% elsif notifications_setting.verifications_setting == 2 %>
            <td><%= "Message" %></td>
            <% elsif notifications_setting.verifications_setting == 1 %>
            <td><%= "Email" %></td>
            <% elsif notifications_setting.verifications_setting == 0 %>
            <td><%= "Non" %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_notifications_setting_path(notifications_setting) %></td>
              
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
