<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New User Wallet</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: user_wallet, local: true) do |form| %>
                    <% if @user_wallet.errors.any? %>
                         <div id="error_explanation">
                             <%= pluralize(user_wallet.errors.count, "error") %> prohibited this user wallet from being saved: 
                             <ul>
                                <% user_wallet.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Amount</label>
                                <div class="col-sm-10">
                                    <%= form.text_field :amount , class: 'form-control' , :required => true %>
                                </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">User ID</label>
                                <div class="col-sm-10">
                                    <%= form.text_field :user_id, type: 'number' , class: 'form-control', :required => true %>
                                </div>
                      </div>
                      
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label">Wallet Status</label>
                             <div class="col-sm-10">
                             <%= form.select :status,options_for_select([['Disabled',0],['Enabled',1]]),  {:include_blank => 'Select Status'},{:class => 'form-control c-select'} %>
                             </div>
                      </div>

                       <div class="form-group row m-t-md">
                           <div class="col-sm-offset-2 col-sm-10">
                               <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                           </div>
                       </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Back', user_wallets_path %>
</div>
</div>