<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group row">
    <label class="col-sm-2 form-control-label">Department</label>
    <div class="col-sm-10">
      <select name="ticket[number]" class= 'form-control c-select'>
        <%= @department.each do |department| %>
          <option value="<%= department.code %>"><%= department.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 form-control-label">User</label>
        <div class="col-sm-10">
            <input type="text" id="receiver"  placeholder="User Email or Account number" , class= "form-control" >
        </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 form-control-label">User List</label>
      <div class="col-sm-10">
        <select id="receiverdata" name="ticket[user_id]" class= 'form-control c-select'></select>
      </div>
  </div>

  <div class="form-group row">
      <label class="col-sm-2 form-control-label">Title</label>
            <div class="col-sm-10">
                <%= form.text_field :title, class: 'form-control'%>
            </div>
  </div>

  <div class="form-group row">
      <label class="col-sm-2 form-control-label">Content</label>
            <div class="col-sm-10">
                <%= form.text_field :content, class: 'form-control'%>
            </div>
  </div>

  <div class="form-group row">
      <label class="col-sm-2 form-control-label">Attachment</label>
            <div class="col-sm-10">
                <%= form.text_field :attachment, class: 'form-control'%>
            </div>
  </div>

  <div class="form-group row m-t-md">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-fw primary" id="submit" >Create Ticket</button>
      </div>
  </div>
<% end %>
<script src="/js/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function() {

      $("#receiver").keyup(function() {
        var user_id = $("#receiver").val();
         
        $.ajax({ type:'get',url:'/user_list_data',
        data:{user_id:user_id},
        contentType: "application/json",
        dataType: "json",
        success: function(data){
           // console.log(data.userdata[0][0])
           $("#receiverdata").html("");
           // Add options
           for (var i in data.userdata) {
               $("#receiverdata").append('<option value=' + data.userdata[i][2] + '>' + data.userdata[i][0] + " " + data.userdata[i][1] +  '</option>');
           }

        }
        });
      });

    });

</script>