<h1>The replies of this ticket</h1>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Content</th>
      <th>Sender</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_reply.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.content %></td>
        <td><%= ticket.sender_type %></td>
        <td><%= ticket.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', tickets_path %>