<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Withdraws</h2>
      <small>List of all withdraw operations</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Withdraw Operation', new_withdraw_path, {:class => 'btn btn-fw accent',:style => "margin-left:800px;"}%>
      <% end %>
    </div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Bank</th>
      <th>Operation</th>
      <th>Amount</th>
      <th>Fees</th>
      <th>Status</th>
      <th>Withdraw type</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @withdraws.each do |withdraw| %>
      <tr>
        <td><%= withdraw.user_id %></td>
        <td><%= withdraw.user.firstname + " " + withdraw.user.lastname  %></td>
        <td><%= withdraw.bank_account.bank_name %></td>
        <td><%= withdraw.operation_id %></td>
        <td><%= withdraw.amount %></td>
        <td><%= withdraw.fees %></td>
        <% if withdraw.status == 1 %>
        <td><%= "Pending" %></td>
        <% elsif withdraw.status == 2 %>
        <td><%= "Accepted" %></td>
        <% elsif withdraw.status == 3 %>
        <td><%= "cancelled" %></td>
        <% end %>
        <td><%= withdraw.withdraw_type %></td>
        <td><%= withdraw.note %></td>
        <td><%= link_to 'Show', withdraw %></td>
        <td><%= link_to 'Edit', edit_withdraw_path(withdraw) %></td>
        <td><%= link_to 'Destroy', withdraw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="hide-if-no-paging">
  <tr>
      <td colspan="5" class="text-center">
          <ul class="pagination"></ul>
      </td>
  </tr>
  </tfoot>
  </table>
  </div>
  </div>
  </div>
