<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Withdraw Operation</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>UserName</th>
              <td><%= @withdraw.user.firstname + " " + @withdraw.user.lastname  %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>User ID</th>
              <td> <%= @withdraw.user_id %></td>
          </tr>
          <tr>
              <th>Operaion ID</th>
              <td><%= @withdraw.operation_id %></td>
          </tr>
          <tr>
          <th>Bank Name</th>
          <td> <%= @withdraw.bank_account.bank_name %></td>
          </tr>
          <tr>
            <th>Amount</th>
            <td> <%= @withdraw.amount %></td>
          </tr>
          <tr>
            <th>Fees</th>
            <td> <%= @withdraw.fees %></td>
          </tr>

          <tr>
          <th>Status</th>
            <% if @withdraw.status == 1 %>
            <td><span class="label"><%= "Pending" %></span></td>
            <% elsif @withdraw.status == 2 %>
            <td><span class="label success"><%= "Compeleted" %></span></td>
            <% elsif @withdraw.status == 3 %>
            <td><span class="label error"><%= "cancelled" %></span></td>
            <% end %>
          </tr>  
          <tr>
            <th>Withdraw Method</th>
            <td><%= @withdraw.withdraw_type %></td>
          </tr>
          <tr>
            <th>Note</th>
            <td><%= @withdraw.note %></td>
          </tr>

          </tbody>
        </table>
      </div>
      <%= link_to 'Edit', edit_withdraw_path(@withdraw) %> |
<%= link_to 'Back', withdraws_path %>
</div>
