<p id="notice"><%= notice %></p>

<h1>Bank Accounts</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Bank name</th>
      <th>Branche name</th>
      <th>Swift code</th>
      <th>Country</th>
      <th>Account name</th>
      <th>Account number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.user.firstname + " " + bank_account.user.lastname  %></td>
        <td><%= bank_account.bank_name %></td>
        <td><%= bank_account.branche_name %></td>
        <td><%= bank_account.swift_code %></td>
        <td><%= bank_account.country %></td>
        <td><%= bank_account.account_name %></td>
        <td><%= bank_account.account_number %></td>
        <td><%= link_to 'Show', bank_account %></td>
        <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
        <td><%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank Account', new_bank_account_path %>
