<%= form_with(model: cards_log, local: true) do |form| %>
  <% if cards_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cards_log.errors.count, "error") %> prohibited this cards_log from being saved:</h2>

      <ul>
      <% cards_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :action_type %>
    <%= form.select :action_type,options_for_select([['created',1],['charged',2],['deleted',3]]),  {:include_blank => 'select type'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
