<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Money Operartions</h2>
      <small>List of all money operartions</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New Money Op', new_money_op_path, {:class => 'btn btn-fw accent',:style => "margin-left:800px;"}%>
      <% end %>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>User id</th>
              <th>UserName</th>
              <th>Operartion id</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Fees</th>
              <th>Payment gateway</th>
              <th data-hide="phone">Status</th>
              <th>Payment date</th>
              <th>Payment id</th>

          </tr>
        </thead>
        <tbody>
        <% @money_ops.each do |money_op| %>
          <tr>
          <td><%= money_op.user_id %></td>
          <td><%= money_op.user.firstname + " " + money_op.user.lastname %></td>
          <td><%= money_op.opid %></td>
          <% if money_op.optype == 1 %>
          <td><%= "Sent" %></td>
          <% elsif money_op.optype == 2 %>
          <td><%= "Receive" %></td>
          <% elsif money_op.optype == 3 %>
          <td><%= "Withdraw" %></td>
          <% elsif money_op.optype == 4 %>
          <td><%= "Remittance" %></td>
          <% end %>
  
          <td><%= money_op.amount %></td>
          <td><%= money_op.fees %></td>
          <td><%= money_op.payment_gateway %></td>
          <% if money_op.status == 0 %>
          <td data-value="2"><span class="label" title="Disabled">Pending</span></td>
          <% elsif money_op.status == 1 %>
          <td data-value="1"><span class="label success" title="Active">Compeleted</span></td>
          <% end %>
          <td><%= money_op.payment_date %></td>
          <td><%= money_op.payment_id %></td>
          <% if money_op.status == 0 %>
          <td><a href="/operations_status?id=<%= money_op.id %>" class="btn btn-primary">Update to Compeleted</a></td>
          <% else %>
          <td><a href="/operations_status?id=<%= money_op.id %>" class="btn btn-warning">Update to Pending</a></td>
          <% end %>
          <td><%= link_to 'Show', money_op %></td>
              
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
