<link rel="stylesheet" href="/css/slim.min.css">

<style>
        /* center main column */
        main {
          font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            max-width:400px;
            margin:0 auto;
        }
    </style>
<main>

    
<%= form_with(model: upload, local: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div><br>

  <div class="slim" >
    <%= form.file_field :avatar, direct_upload: true %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</main>
<script src="/js/slim.kickstart.min.js"></script>